{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <a  target="_blank" href="{{ asset('bundles/app/documents/bgfes_reglement_general.pdf') }}">Lire le reglement général du BGF eSport</a>
    <br>
    <div>
        <input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
